<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SabespEntities" connectionString="metadata=res://*/SabespModel.csdl|res://*/SabespModel.ssdl|res://*/SabespModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql2k5.hostsag2.com.br;Initial Catalog=sabesp_website;Persist Security Info=True;User ID=web_manager;Password=web_ag2@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>