<?xml version="1.0" encoding="utf-8" ?>
<AG2Manager version="1.0">
  <module name="menu" version="1.0">
    <settings>
      <title><![CDATA[Menu]]></title>
      <description><![CDATA[Gerenciamento do Menu do manager]]></description>

      <setting name="controlVersion"  value="false" />
      <setting name="multiLanguage" value="false" />
      <setting name="paging" value="true" />
      <setting name="pageSize" value="15" />
    </settings>

    <!-- Configuracao da tabela que recebe os dados -->
    <table name="ag2mngMenu" primaryKey="menuId" />

    <queries>
      <query section="list" sql="SELECT M.*, SM.name as subMenu
    FROM ag2mngMenu M
    LEFT JOIN ag2mngMenu SM on (SM.menuId = M.parentMenuId)
    ORDER BY SM.name, SM.menuOrder" />
    </queries>

    <forms>
      <edit type="control" src="menu.ascx" />
    </forms>

   <!-- Configuracao dos campos que compoe um modulo -->
    <!-- parentMenuId, , active, tooltip, menuOrder, moduleName -->
    <fields>
      <TextBox name="subMenu" label="Menu Pai" sort="true" dataFieldName="subMenu" dbType="String"  showInList="true" required="true" maxlength="200"  />
      <TextBox name="name" label="Nome" sort="true" dataFieldName="name" dbType="String"  showInList="true" required="true" maxlength="200"  />
      <TextBox name="moduleName" label="Nome do módulo" sort="true" dataFieldName="moduleName" dbType="String"  showInList="true" required="true" maxlength="200"  />
    </fields>



  </module>
</AG2Manager>
